---
export async function getStaticPaths() {
    const data = await fetch("https://tpkcubibhsjksznxidsa.supabase.co/rest/v1/fetch", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwa2N1YmliaHNqa3N6bnhpZHNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDE2OTA2MjAsImV4cCI6MjAxNzI2NjYyMH0.l7F0Hy6ns8ad6EpyOuzi7ZKBmOM2aI7XeF_VX7Ka7dA"
    },
}).then(response=>response.json());

    return data.map((news)=>{
        return {
            params: {slug: news.slug},
            props: {myData:news},
        };
    });
} 

const {myData} = Astro.props

import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>     
    
<article>  
    <div class="tilbage_btn">
        <a class="box_button" href="/">Tilbage</a>
        </div>
 
        <section class="grid"> 
           
        <div> 
            <img src={myData.img} alt={myData.title}>
        </div>
        <div class="text">
            <h1 class="title">{myData.title}</h1>
            <p>{myData.text}</p>
    </div>
        </section>
</article>

<div class="graybox">
    <h4 class="grayboxtext"><br>Er du nysgerrig på flere opslag fra os? <br><br>Tilmeld dig vores Facebook gruppe <br><a href="https://www.facebook.com/groups/335477863143868/">BorupCykelMotion</a> <br><br>Vi glæder os til at se dig! :) <br><br></h4>
</div>

</MainLayout>

<style>
    article {
    margin: 1rem;
    margin-top: 5rem;
    }
    
     .box_button{
            padding: 13px 30px;
            background-color: #E36C30;
            color: white;
            text-decoration: none;
            margin: 1.5rem;
            margin-left: 0rem;
            padding: 1.5rem;
            border-radius: 1rem;
        }
        .grid {
            padding: 10px;
            margin-top: 4rem;
            position: relative;
           justify-content: center;
           background-color: #383838;
    }    
    
    img {
        width: 100%;
        margin-left: 0rem;
        margin-top: 1rem;
        border-radius: 0;
    } 
    
    .text p {
        padding: 20px;
          background: #ffffff;
          color: #383838;
          margin: 0.5rem;
          margin-bottom: 3rem;
          margin-top: -2rem;
            font-style: normal;
            line-height: 1.5rem;
            border-radius: 1rem;
            font-family: 'Poppins', sans-serif;
            line-break: auto;
    }
    
    .title {
        margin-bottom: 4rem;
        text-align: center;
        color: var(--primary-lgray);
        margin-top: 2rem;
        line-height: normal;
        line-break: anywhere;
        font-family: 'Sofia Sans Variable', sans-serif;
    }
    
    .grayboxtext {
        color: var(--primary-lgray);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        padding: 1 1;
    }

    
.graybox {
    background-color: #505841;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    opacity: 50%;
    text-decoration: underline;
}

    
    @media (min-width:599px) {
    
     .box_button{
            padding: 13px 30px;
            font-size: 14px;
            background-color: #E36C30;
            color: var(--primary-lgray);
            text-decoration: none;
            margin: 0.5rem;
            padding: 1.5rem;
            border-radius: 1rem;
            transform: scale(1.1);
        }

   .box_button:hover{
        cursor: pointer;
        transform: scale(1.1);
    }    
        .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
            padding: 10px;
            margin-left: 10px;
            margin-top: 4rem;
            margin-bottom: 4rem;
            position: relative;
           justify-content: center;
    }    
    
    img {
        width: 100%;
        margin: 2rem;
        border-radius: 0;
    } 
    
    .text p{
        padding: 1rem;
          background: #ffffff;
          color: #383838;
          margin: 6rem;
          margin-top: -2rem;
          margin-left: 6rem;
            font-style: normal;
            font-weight:lighter;
            line-height: 1.5rem;
            border: 1px solid;
            border-radius: 2rem;
            font-family: 'Poppins', sans-serif;
            line-break: auto;
    }

    .title {
        color: var(--primary-lgray);
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 4rem;
        line-height: normal;
        line-break: anywhere;
        font-family: 'Sofia Sans Variable', sans-serif;
    }

    .grayboxtext {
        color: var(--primary-lgray);
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    
.graybox {
    background-color: #505841;
    margin-top: -2rem;
    margin-bottom: 4rem;
    margin-left: 1.7rem;
}

a {
    color: var(--primary-lgray);
    cursor: pointer;
}

    }
    </style>