---
const {data}= Astro.props;
console.log(data);
---
<article>
<div>
    <img src={data.img} alt={data.title}>
</div>
</article>

<style>
@media (min-width: 599px) { 
    
    img {
      margin: 10rem;
      border-radius: 0;
    }
    img:hover {
            cursor: pointer;
            transform: scale(1.1);
     }
        
        } 
</style>
 

<script>import { extractDirectives } from "../../node_modules/astro/dist/runtime/server/hydration";

    let scrollContainer = document.querySelector(".gallery");
    let backBtn = document.getElementById("backBtn");
    let nextBtn = document.getElementById("nextBtn");
    
    nextBtn.addEventListener("click", ()=>{
        scrollContainer.scrollLeft += 900;
    })
    
    backBtn.addEventListener("click", ()=>{
        scrollContainer.scrollLeft -= 900;
    })
    
    </script>


       <!--  <div> 
             <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24998036453128000/?mibextid=uJjRxr">
                 <img src="faelles_skovtur.webp" alt="Fælles Skovtur">
             </a>
         </span>
       </div>  
       <div>
         <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24905204962411150/?mibextid=uJjRxr"><img src="morning_gravel_ride.webp" alt="Morning Gravel Ride"></a></span>
     </div>
 
 
     <div> 
         <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24716496794615302/?mibextid=uJjRxr"><img src="loevfaldstur.webp" alt="Løvfaldstur i Dyrehaven"></a></span>
       </div>  
       
       <div>
         <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24715669648031350/?mibextid=uJjRxr"><img src="hummeloreskoven.webp" alt="Hummeloreskoven"></a></span>
         </div>
 
         <div>
             <span><a href="https://www.facebook.com/groups/335477863143868/permalink/24696308569967458/?mibextid=uJjRxr"><img src="svenstrup_gods_baghave.webp" alt="Svenstrup Gods baghave"></a></span>
          </div>--> 


<!--
    <a href={`news/${data.slug}`}>
<article> 
<h2 class="title">{data.title}</h2>
<img src={data.img} alt={data.title}>
</article>
</a>
-->